<div class="card-base w-fit mx-auto rounded-xl mt-4 mb-4">
    <div class="transition text-50 text-sm text-center p-6">
        © <span id="copyright-year">2024 - 2026</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="/">S0ra</a>
        <br>
        
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        <br>

        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="/rss.xml">RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="/sitemap-index.xml">网站地图</a>
        <br>

        由 <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a> 强力驱动
    </div>
</div>